@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900,500,500italic,700italic|Pattaya:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63aa12606bc025d1e91e4380.63aa1261c2ae7ee7a640f76f.lNWLkoZ.hcp.png");

.navbar {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:var(--secondary-color);
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li{
  font-family: var(--main-font);
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: #eab17e;
  padding: 8px 25px;
  transition:all .5s ease;
}

.navbar ul li a:hover {
  background-color: var(--background-color);
  color: black;
  box-shadow: 0 0 10px white;
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.prices-may-vary-on-c {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 648px;
}